.contacts-section {

  background-image: url("/img/contact_2560.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  min-height: 296px;


  @media (min-width: $screen-sm) {
  min-height: 625px;

  }

  @media (min-width: $screen-lg) {
  min-height: 500px;

}

  &__inner{
  max-width: $screen-lg;
  margin: 0 auto;
  min-height: 530px;
  display:flex;
  flex-direction: column;
}

&__title{
          // background-color: #f00;
}

&__items{
	// background-color: #dea;
  flex-grow: 1;
  display:flex;
  flex-wrap:wrap;
  justify-content: flex-start;
  align-items:center;


  @media (min-width: $screen-lg) {

  justify-content: space-between;
  }

}

&__item{
		// background-color: #0ea;
    width: 187px;
    min-height: 20px;
    text-align: center;
    
    @media (min-width: $screen-xs) {
    min-height: 200px;
  }

    @media (min-width: $screen-sm) {
    justify-content: space-between;
  }

	a{
	text-decoration: none;
	color: $white;
	}

&--disabled {
  text-decoration: none;
  color: $white;
  position: relative;

  &:before{
  content:"";
  width: 10px;
  height: 10px;
  background-color: #89c1a1;
  position: absolute;
  top:4px;
  left:-23px;

  } 

@media (min-width: $screen-xs) {
     pointer-events: none; /* делаем ссылку некликабельной */
    cursor: default;  /* устанавливаем курсор в виде стрелки */
  }

}

&--content{
// background-color: #fe0;
margin-top: 20px;

a{
  display: none;

  @media (min-width: $screen-xs) {
  display: block;
  }
}

}

&--manager{
display: none;

    @media (min-width: $screen-xs) {
  display: block;
  color: $white;
  margin-bottom: 30px;
  }
  

}

&--telefon{
  display: none;

    @media (min-width: $screen-xs) {
  display: block;
  color: $white;
  }
}





}



}





