.fact-section{
	background-color:$lightgray;
  min-height: 400px;


  @media (min-width: $screen-sm) {
  min-height: 180px;

  }

  @media (min-width: $screen-lg) {
  min-height: 300px;
  }

  &__inner{
  	max-width: $screen-lg;
    margin-left: 10px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;

    @media (min-width: $screen-lg){
    margin: 0 auto;
    padding-left: 10px;

 }

  }

&__items{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  list-style: none;
  padding: 30px 20px;
  padding-bottom: 0;
  margin-top: 2px;
  margin-bottom: 0;

  @media (min-width: $screen-sm) {
  flex-direction: row;
  }
 }
}

.fact-section__item
{
  position: relative;
  font-size: 12px;
  flex-grow: 1;
  flex-basis: 80px;
  padding-top: 7px;
  padding-bottom: 66px;
  box-sizing: border-box;
  
  &:after{
  content:"";
  width: 10px;
  height: 10px;
  background-color: #8abea8;
  position: absolute;
  top:-10px;
  left:-20px;
  }

  &:before{
  content:"";
  width: 1px;
  height: 100%;
  background-color: #8abea8;
  position: absolute;
  top:0;
  left:-15px;
}

  @media (min-width: $screen-sm){ 

  &:before{
  content:"";
  width: 100%;
  height: 1px;
  background-color: #8abea8;
  position: absolute;
  top:-5px;
  left:-15px;
}
}
}
.fact-section__item:nth-child(2){
  padding-bottom: 90px;
}


.fact-section__item:last-child{
  padding-bottom: 0;
 @media (max-width: 767px){
  &:before{
  display: none;
  } 
 }
}

.fact-section__item span{
  line-height: 20px;
  margin-top: 0px;
  // margin-bottom: 20px;
}

.fact-section__item:nth-child(1) span{

  &:before{
  z-index:10;
  content:"01";
  color:#e6e6e6;
  font-size: 25px;
  position: absolute;
  top:-20px;

  @media (min-width: $screen-sm){
  top:-32px; 
  left:-10px;
  }
  } 
 }
 
.fact-section__item:nth-child(2) span{

  &:before{
  z-index:10;
  content:"02";
  color:#e6e6e6;
  font-size: 25px;
  position: absolute;
  top:-20px;

  @media (min-width: $screen-sm){
  top:-32px; 
  left:-10px;
  }
  } 
 }

 .fact-section__item:nth-child(3) span{

  &:before{
  z-index:10;
  content:"03";
  color:#e6e6e6;
  font-size: 25px;
  position: absolute;
  top:-20px;

  @media (min-width: $screen-sm){
  top:-32px; 
  left:-10px;
  }
  } 
 }
