.geography-section{
	background-color:$white;
  min-height: 620px;

  @media (min-width: $screen-sm) {
  min-height: 330px;
  background-color:$gray;
  }

  @media (min-width: $screen-lg) {
  min-height: 530px;
  background-color:$white;
}

  &__inner{
  max-width: $screen-lg;
  margin: 0 auto;
  margin-left: 10px;
  // min-height: 630px;
  display:flex;
  flex-direction: column;

    // background-color: #fe0;

  @media (min-width: $screen-sm) {
  flex-direction: row-reverse;
}

  @media (min-width: $screen-lg){
  position: relative;
  }
 }

 &__info{

  flex-basis:60%;
  display:flex;
  flex-direction: column;
  justify-content: space-between;

  list-style: none;

    // background-color: #f0f;
}

&__title{
          // background-color: #f00;
}

&__legend{
// background-color: #f0f;
list-style:none;
display:flex;
justify-content:space-between;
margin-bottom: 42px;
padding-left:22px;
}

&__legend--season{
  position: relative;
  }

&__text{
  flex-grow: 1;
  font-size: 12px;
  line-height: 20px;
  margin-top: 10px;




  @media (min-width: $screen-sm) {
  order: 1;
  }
}


&__map{
flex-basis:40%;
margin-left: -10px;
background-image: url("/img/geography.jpg");
height:340px; 
background-size: cover;
background-repeat: no-repeat;

}



}

.geography-section__inner{

  &:after{
  content:"";
  width: 100%;
  height: 1px;
  background-color: #8abea8;
  position: absolute;
  top:0;
}
}
.geography-section__legend--season{
  font-size: 10px;
}

.geography-section__legend--season:nth-child(1){

  &:before{
  content:"";
  width: 10px;
  height: 10px;
  background-color: #ef8989;
  position: absolute;
  top:0;
  left:-23px;

  } 
 }

 .geography-section__legend--season:nth-child(2){

  &:before{
  content:"";
  width: 10px;
  height: 10px;
  background-color: #04a8a8;
  position: absolute;
  top:0px;
  left:-23px;

  } 
 }

 .geography-section__legend--season:nth-child(3){

  &:before{
  content:"";
  width: 10px;
  height: 10px;
  background-color: #cdd63f;
  position: absolute;
  top:0px;
  left:-23px;

  } 
 }

 .geography-section__legend--season:nth-child(4){

  &:before{
  content:"";
  width: 10px;
  height: 10px;
  background-color: #efb672;
  position: absolute;
  top:0px;
  left:-23px;

  } 
 }