
.header {

  background-image: url("/img/header_1286.jpg");
  background-repeat: no-repeat;
  background-position: 12% 100%;
  background-size: 250%;
  min-height: 500px;

  @media (min-width: $screen-sm) {
  background-position: 30% 85%;
  background-size: 250%;
  min-height: 600px;
  }

  @media (min-width: $screen-lg) {
  background-image: url("/img/header_2560.jpg");
  background-size: auto 140%;
  background-position: bottom;
  min-height: 652px;
  }

  @media (min-width: 1300px) {
    background-size: 100% auto;
    background-position: bottom;
   }

  &__inner{
  	max-width: $screen-lg;
    margin-left: 10px;
    min-height: 100%;

    @media (min-width: $screen-sm){
      padding-top: 38px;
    }
    @media (min-width: $screen-lg){
      padding-top: 22px;
      margin: 0 auto;
    }
   }

  &__main-title{
    color: #fff;
    padding-top: 195px;
    padding-bottom: 18px;
    padding-left: 0px;
    @media (min-width: $screen-sm){
    padding-top: 115px;
    padding-bottom: 18px;
    padding-left: 65px;
    }
    @media (min-width: $screen-lg){
    padding-top: 112px;
    padding-bottom: 18px;
    padding-left: 10px;
    }

    &-description{
    font-family: 'Jura', sans-serif;
    font-size:14px;  

    @media (min-width: $screen-lg) {
    font-size:20px;  
    }
  }
  }
  &__main-title-head{
      margin-bottom: 11px;
    
    @media (min-width: $screen-lg) {
    margin-bottom: 32px;  
    }
}
}

