.price-section{
	background-color:$white;
  min-height: 300px;


  @media (min-width: $screen-sm) {
  min-height: 330px;
  background-color:$gray;
  }

  @media (min-width: $screen-lg) {
  min-height: 536px;
  background-color:$white;
}

  &__title{
  color: #191c3f;
  margin-top: 22px;
  @media (min-width: $screen-sm){
  margin-bottom: 5px;  
  }
}

  &__inner{
  max-width: $screen-lg;
  margin: 0 auto;
  padding-left: 10px;
  min-height: 300px;
  display:flex;
  flex-direction: column;

}

&__items{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  list-style: none;
  padding: 30px 30px;

 }

}
