.tabl{
	min-width: 300px;
	min-height: 130px;
	border: 1px solid #d2d2d2;
	margin-bottom: 23px;

	@media
	(min-width: $screen-sm){
	min-width: 490px;
	}

	@media
	(min-width: $screen-lg){
	min-width: 770px;
	margin-top: 18px;
	}

	tr{
	text-align: center;
	height: 40px;
	@media(min-width: $screen-lg){
	height: 67px;
	}
	}

	th{
	width: 33.3%;
	border: 1px solid #d2d2d2;
	font-size:10px;
	@media(min-width: $screen-lg){
	font-size:16px;
	}
	}

	td{
	width: 33.3%;
	border: 1px solid #d2d2d2;
	font-size:10px;
	line-height: 14px;
	@media(min-width: $screen-lg){
	font-size:16px;
	}
	}



}

