
.side-bar{
  position: absolute;
  width: 40px;
  min-height: 500px;
  top: 0;
  right:0;
  background-color: rgba(28, 21, 49, 0.5);
  overflow-x: visible;




  @media (min-width: $screen-sm) {
  display: none;
  min-height: 590px;

  }


  @media (min-width: 1316px) {
  display: block;
  }

  &__link {
  width: 150px;
  white-space:nowrap;
  transform: rotate(-90deg);
  position: absolute;
  top: 300px;
  right:-55px;

}

  &__link a{
  text-decoration: none;
  color: #fff;

}

  &__social{
}

  &__social a{
  text-decoration: none;
  color: #fff;

}
}

