
.side-bar{
  position: absolute;
  width: 40px;
  min-height: 500px;
  top: 0;
  right:0;
  background-color: rgba(28, 21, 49, 0.5);
  overflow-x: visible;

  @media (min-width: $screen-sm) {
  display: none;
  }

  @media (min-width: 1280px) {
  display: block;
  min-height: 652px;
  }

  &__link {
  width: 150px;
  white-space:nowrap;
  transform: rotate(-90deg);
  position: absolute;
  top: 225px;
  right:-55px;
  @media (min-width: $screen-lg){
  top: 352px;
  right:-52px;
  }
}

  &__link a{

  text-decoration: none;
  color: #fff;
  font-size:12px;
  @media (min-width: $screen-lg){
  font-size:16px;
  }
}

  &__social{
  position: absolute;
  top: 20px;
  right:9px;
  @media (min-width: $screen-lg){
  top: 40px;
  }
}

  &__social a{
  text-decoration: none;
  color: #fff;

}
}

