.slide-section{
	min-height: 400px;

	@media (min-width: $screen-sm) {
  min-height: 340px;
  background-color: #eaeaec;
  }

  @media (min-width: $screen-lg) {
  min-height: 520px;
  background-color: #fff;
	}

&__inner{
	max-width: $screen-lg;
  margin: 0 auto;
}


&__info {
  display:flex;
  flex-direction: column;
  min-height: 400px;
  @media (min-width: $screen-sm) {
  min-height: 340px;
  display: inline-block;
  vertical-align: top;
  width: 49%;
  } 
  @media (min-width: $screen-lg){
  width: 51%;  
  }

  @media (max-width: 420px) {
  background-image: url("../img/slide_607.jpg");
  background-size: cover;
  background-position-x: -175px;
  background-repeat: no-repeat;
  
  } 
	@media (max-width: 767px) {
	background-image: url("../img/slide_607.jpg");
	background-size: cover;
  background-repeat: no-repeat;
  
  }	

 }


&__title{
  color: #fff;
  margin-left: 10px;
  @media (min-width: $screen-sm) {
  color: #201c38;
  margin-right: 20px;

}

}

&__visual {
	display: none;

  @media (min-width: $screen-sm) {
  display: inline-block;
  width: 50.5%;
  min-height: 340px;
  background-image: url("../img/slide_6071.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  }	
  @media (min-width: $screen-lg) {
  width: 48.6%;
  min-height: 520px;
  background-image: url("../img/slide_6071.jpg");
  background-size: 120% 120%;
  background-repeat: no-repeat;
  } 
}
}

.legend__text{
  font-size: 12px; 
  line-height: 20px;
  color: #fff;
  font-weight: lighter;  
  margin: 30px 15px;
  width: 280px;

@media (min-width: $screen-sm) {
  font-size: 12px; 
  line-height: 20px;
  color: #201c38;
  font-weight: lighter;  
  margin-right: 10px;
  margin-left:70px; 
  width: 280px;
}
@media (min-width: $screen-lg) {
  font-size: 16px; 
  line-height: 30px;
  margin-top: 80px;
  margin-right: 10px;
  margin-left:115px; 
  width: 465px;
}
}

