@font-face {
  font-family:'Jura', sans-serif;
  src:url(fonts/jura-light.woff),url(../fonts/jura-light.woff2);
  font-style: light; 

}

@font-face {
  font-family:'Ubuntu',sans-serif;
  src:url(fonts/ubuntu-light.woff),url(../fonts/ubuntu-light.woff2);
  font-style: light; 
}

@font-face {
  font-family:'nord',sans-serif;
  src:url(fonts/nord-light.woff),url(../fonts/nord-light.woff2);
}
