@charset "UTF-8";

// Default Variables

// Slick icon entity codes outputs the following
// "\2190" outputs ascii character "←"
// "\2192" outputs ascii character "→"
// "\2022" outputs ascii character "•"

$slick-font-path: "./fonts/" !default;
$slick-font-family: "slick" !default;
$slick-loader-path: "./" !default;
$slick-arrow-color: white !default;
// $slick-dot-color: black !default;
// $slick-dot-color-active: $slick-dot-color !default;
$slick-prev-character: "\2190" !default;
$slick-next-character: "\2192" !default;
// $slick-dot-character: "\2022" !default;
// $slick-dot-size: 6px !default;
$slick-opacity-default: 0.75 !default;
$slick-opacity-on-hover: 1 !default;
$slick-opacity-not-active: 0.25 !default;

@function slick-image-url($url) {
    @if function-exists(image-url) {
        @return image-url($url);
    }
    @else {
        @return url($slick-loader-path + $url);
    }
}

@function slick-font-url($url) {
    @if function-exists(font-url) {
        @return font-url($url);
    }
    @else {
        @return url($slick-font-path + $url);
    }
}

/* Slider */

.slick-list {
    .slick-loading & {
        background: #fff slick-image-url("ajax-loader.gif") center center no-repeat;
    }
}

/* Icons */
@if $slick-font-family == "slick" {
    @font-face {
        font-family: "slick";
        src: slick-font-url("slick.eot");
        src: slick-font-url("slick.eot?#iefix") format("embedded-opentype"), slick-font-url("slick.woff") format("woff"), slick-font-url("slick.ttf") format("truetype"), slick-font-url("slick.svg#slick") format("svg");
        font-weight: normal;
        font-style: normal;
    }
}

/* Arrows */

.slick-prev,
.slick-next {
    position: absolute;
    display: block;
    height: 20px;
    width: 20px;
    line-height: 0px;
    font-size: 0px;
    cursor: pointer;
    background: transparent;
    color: transparent;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    padding: 0;
    border: none;
    outline: none;
    &:hover, &:focus {
        outline: none;
        background: transparent;
        color: transparent;
        &:before {
            opacity: $slick-opacity-on-hover;
        }
    }
    &.slick-disabled:before {
        opacity: $slick-opacity-not-active;
    }
    &:before {
        font-family: $slick-font-family;
        font-size: 0;
        line-height: 0;
        color: $slick-arrow-color;
        opacity: $slick-opacity-default;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}

.slick-prev {
    left: -25px;
    [dir="rtl"] & {
        left: auto;
        right: -25px;
    }
    &:before {
        // content: $slick-prev-character;
        // [dir="rtl"] & {
        //     content: $slick-next-character;
        // }
                position: absolute;
                top: 0;
                left: 38px;
                content: '';

                @media (min-width: $screen-sm){
                width: 34px;
                height: 38px;
                left: 35px;
background: url('data:image/svg+xml;utf8,<svg 
 xmlns="http://www.w3.org/2000/svg"
 xmlns:xlink="http://www.w3.org/1999/xlink"
 width="34px" height="38px">
<path fill-rule="evenodd"  fill="rgb(3, 234, 165)"
 d="M33.412,29.853 L33.412,37.270 L0.324,22.435 L0.324,15.018 L33.412,0.183 L33.412,7.600 L26.059,10.897 L26.059,26.556 L33.412,29.853 ZM18.706,14.193 L8.596,18.726 L18.706,23.259 L18.706,14.193 Z"/>
</svg>');
                }
                @media (min-width: $screen-lg){
                width: 50px;
                height: 56px;
background: url('data:image/svg+xml;utf8,<svg 
 xmlns="http://www.w3.org/2000/svg"
 xmlns:xlink="http://www.w3.org/1999/xlink"
 width="50px" height="56px">
<path fill-rule="evenodd"  fill="rgb(3, 234, 165)"
 d="M50.000,44.803 L50.000,56.004 L-0.000,33.603 L-0.000,22.402 L50.000,0.001 L50.000,11.201 L38.889,16.179 L38.889,39.825 L50.000,44.803 ZM27.778,21.157 L12.500,28.002 L27.778,34.847 L27.778,21.157 Z"/>
</svg>');
                }


    }
}

.slick-next {
    right: -25px;
    [dir="rtl"] & {
        left: -25px;
        right: auto;
    }
    &:before {
        // content: $slick-next-character;
        // [dir="rtl"] & {
        //     content: $slick-prev-character;
        // }
                position: absolute;
                top: 0;
                left: 15px;
                content: '';

                @media (min-width: $screen-sm){
                width: 34px;
                height: 38px;
                left: 8px;
background: url('data:image/svg+xml;utf8,<svg 
 xmlns="http://www.w3.org/2000/svg"
 xmlns:xlink="http://www.w3.org/1999/xlink"
 width="34px" height="38px">
<path fill-rule="evenodd"  fill="rgb(3, 234, 165)"
 d="M0.294,37.267 L0.294,29.849 L7.647,26.553 L7.647,10.894 L0.294,7.597 L0.294,0.179 L33.382,15.014 L33.382,22.432 L0.294,37.267 ZM15.000,14.190 L15.000,23.256 L25.110,18.723 L15.000,14.190 Z"/>
</svg>');
                }
                @media (min-width: $screen-lg){
                width: 50px;
                height: 56px;
background: url('data:image/svg+xml;utf8,<svg 
 xmlns="http://www.w3.org/2000/svg"
 xmlns:xlink="http://www.w3.org/1999/xlink"
 width="50px" height="56px">
<path fill-rule="evenodd"  fill="rgb(3, 234, 165)"
 d="M-0.000,55.999 L-0.000,44.799 L11.111,39.821 L11.111,16.175 L-0.000,11.197 L-0.000,-0.004 L50.000,22.397 L50.000,33.598 L-0.000,55.999 ZM22.222,21.153 L22.222,34.843 L37.500,27.998 L22.222,21.153 Z"/>
</svg>');
                }

       
    }
}

/* Dots */

.slick-dotted.slick-slider {
    margin-bottom: 30px;
}

.slick-dots {
    position: absolute;
    bottom: -80px;
    // list-style: none;
    display: block;
    // text-align: center;
    padding-left: 10px;
    // margin: 0;
    // width: 100%;
        @media (min-width: $screen-sm){
        bottom: -86px;
        padding-left: 30%;
        padding-right: 30%;
        }
        @media (min-width: $screen-lg){
        bottom: -128px;
        padding-left: 115px;
        // padding-right: 38%;
        }

    li {
        position: relative;
        display: inline-block;
        height: 20px;
        width: 20px;
        margin-right: 22px;
        padding: 0;
        cursor: pointer;
        @media (min-width: $screen-sm){
        margin-right: 7px;
        }
        @media (min-width: $screen-lg){
        margin-right: 20px;
        }
        button {
            border: 0;
            background: transparent;
            display: block;
            height: 15px;
            width: 15px;
            outline: none;
            // line-height: 0px;
            // font-size: 0px;
            color: transparent;
            padding: 15px;
            cursor: pointer;
            &:hover, &:focus {
                outline: none;
                &:before {
                    // opacity: $slick-opacity-on-hover;
                }
            }
            &:before {
                position: absolute;
                top: 0;
                left: 0;
                // content: $slick-dot-character;
                content: '';
                width: 15px;
                height: 15px;
                background-color: #b2dad0;


                // font-family: $slick-font-family;
                // font-size: $slick-dot-size;
                // line-height: 20px;
                // text-align: center;
                // color: $slick-dot-color;
                // opacity: $slick-opacity-not-active;
                // -webkit-font-smoothing: antialiased;
                // -moz-osx-font-smoothing: grayscale;

                @media (min-width: $screen-sm){
                width: 10px;
                height: 10px;   
                }
                @media (min-width: $screen-lg){
                width: 15px;
                height: 15px;
                }
            }

        }
        &.slick-active button:before {
            // color: $slick-dot-color-active;
            // opacity: $slick-opacity-default;
            background-color: #03eaa5;

        }
    }
}




.slick-dotted.slick-slider {
    margin-bottom: 30px;

}

.responsive>.slick-dots {
    position: absolute;
    top: 145px;
    left:95px;
    // list-style: none;
    display: block;
    // text-align: center;
    // padding-left: 10px;
    // margin: 0;
    // width: 100%;
        @media (min-width: $screen-lg){
        top: 260px;
        left:95px;
        height: 15px;
        margin-left: 40%;
        margin-right: 40%;
        padding-left: 0;
        padding-right: 0;
        }

    li {
        position: relative;
        display: inline-block;
        height: 20px;
        width: 20px;
        margin-right: 20px;
        padding: 0;
        cursor: pointer;
        @media (min-width: $screen-sm){
        margin-right: 5px;
        }
        @media (min-width: $screen-lg){
        margin-right: 20px;
        }
        button {
            border: 0;
            background: transparent;
            display: block;
            height: 15px;
            width: 15px;
            outline: none;
            // line-height: 0px;
            // font-size: 0px;
            color: transparent;
            padding: 15px;
            cursor: pointer;
            &:hover, &:focus {
                outline: none;
                &:before {
                    // opacity: $slick-opacity-on-hover;
                }
            }
            &:before {
                position: absolute;
                top: 0;
                left: 0;
                // content: $slick-dot-character;
                content: '';
                width: 12px;
                height: 12px;
                background-color: #f8fefc;
                @media (min-width: $screen-sm){
                width: 9px;
                height: 9px;
                }
                @media (min-width: $screen-lg){
                width: 15px;
                height: 15px;
                }
                // font-family: $slick-font-family;
                // font-size: $slick-dot-size;
                // line-height: 20px;
                // text-align: center;
                // color: $slick-dot-color;
                // opacity: $slick-opacity-not-active;
                // -webkit-font-smoothing: antialiased;
                // -moz-osx-font-smoothing: grayscale;
            }

        }
        &.slick-active button:before {
            // color: $slick-dot-color-active;
            // opacity: $slick-opacity-default;
            background-color: #2a4556;

        }
    }
}

.responsive > .slick-prev{
    &:before{
    display: none;
    }

    
}
.responsive > .slick-next{
    &:before{
    display: none;
    }

    
}